$color-primary-100: #D6E4FF;
$color-primary-200: #ADC8FF;
$color-primary-300: #84A9FF;
$color-primary-400: #6690FF;
$color-primary-500: #3366FF;
$color-primary-600: #254EDB;
$color-primary-700: #1939B7;
$color-primary-800: #102693;
$color-primary-900: #091A7A;
$color-success-100: #EAFBD7;
$color-success-200: #D1F8B0;
$color-success-300: #ADEB85;
$color-success-400: #88D863;
$color-success-500: #57BF35;
$color-success-600: #3CA426;
$color-success-700: #26891A;
$color-success-800: #146E10;
$color-success-900: #0A5B0D;
$color-info-100: #CEFEFE;
$color-info-200: #9DF6FE;
$color-info-300: #6CE8FD;
$color-info-400: #47D4FB;
$color-info-500: #0CB6F9;
$color-info-600: #088ED6;
$color-info-700: #066AB3;
$color-info-800: #034B90;
$color-info-900: #023677;
$color-warning-100: #FFFCD7;
$color-warning-200: #FFF9B0;
$color-warning-300: #FFF588;
$color-warning-400: #FFF16B;
$color-warning-500: #FFEB3A;
$color-warning-600: #DBC72A;
$color-warning-700: #B7A41D;
$color-warning-800: #938212;
$color-warning-900: #7A6A0B;
$color-danger-100: #FFE9D4;
$color-danger-200: #FFCCAA;
$color-danger-300: #FFAA7F;
$color-danger-400: #FF8960;
$color-danger-500: #FF522B;
$color-danger-600: #DB331F;
$color-danger-700: #B71B15;
$color-danger-800: #930D13;
$color-danger-900: #7A0815;